html {
  background-color: #f7f7f7;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: #252525;
}

.wrapper {
  padding: 40px 0 80px 0;
  width: 300px;
  margin: 0 auto;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px #e9e9e9;
}

.aim-container {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 40px;
}

.aim-container__curr-cont {
  display: flex;
  justify-content: center;
}

.aim-container h2 {
  display: block;
  margin: 0 auto;
  margin: 0;
  font-size: 60px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #252525;
}

.ico-span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(./img/plus.svg); 
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 1px #e9e9e9;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.aim-container__cur-controls {
  display: flex;
  flex-direction: column;
}

.aim-container__controls_cur {
  margin-top: 15px;
  font-weight: 400;
  font-size: 25px;
  color: #424242;
}

.aim-container__aim-descr {
  max-width: 120px;
  margin: 0 auto;
  position: relative;
  bottom: 18px;
  color: #424242;
}

.empty {
  color: #919191;
}

.empty h2 {
  color: #919191;
}

.card-wrapper>.capture {
  font-family: 'Noto Sans Jp', sans-serif;
  color: #424242;
  margin-bottom: 3px;
}

.card-list {
  width: 280px;
  height: max-content;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column-reverse;
}

.card-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #f7f7f7 solid;
  height: 30px;
}

.card-list li div {
  line-height: 30px;
}

.card-list__ind.increase circle {
  fill: #50c777;
}

.card-list__ind.decrease circle {
  fill: #f5625d;
}

.card-list__summa {
  font-weight: 700;
  transition: ease 0.1s;
}

.card-list__summa.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  transition: ease 0.1s;
}

.card-list__comment {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add_button {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right:  20px;
  background-image: url(./img/plus.svg); 
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 4px 1px #e9e9e9;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.form-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.card.form {
  box-shadow: none;
  margin: 5vh auto 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: max-content;
  clip-path: polygon(43% 0, 50% 4.5%, 56.5% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  animation: 0.12s linear 0s alternate appear-from-bottom;
}

@keyframes appear-from-bottom{
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 5vh;
  }
}

@keyframes appear-from-top{
  from {
    top: calc(5vh + 10px);
  }
  to {
    top: calc(5vh + 40px - 20px);
  }
}

.form h3 {
  margin-left: 15px;
  margin-bottom: 0;
}

form input {
  display: block;
  width: 260px;
  margin: 20px auto;
  height: 30px;
  padding-left: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  outline: none;
  border: #d4d4d4 1px solid;
  border-radius: 8px;
  background-color: #fafafa;
}

form button[type=submit] {
  display: block;
  margin: 20px auto;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  background-color: #fafafa;
  border: none;
  height: 34px;
  margin-bottom: 0;
  width: 150px;
  background-color: #d0b7ff;
}

.form__input_togler {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}

.form__input_togler p {
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 4px;
  line-height: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
}

.switch input {
  margin: 0;
  width: 30px;
  height: 20px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4d4d4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #50c777;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50c777;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(25.5px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.close_button {
  height: 40px;
  width: 40px;
  position: relative;
  left: calc(50% - 20px);
  top: calc(5vh + 40px - 20px);
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.445 1.832l6.946 4.63a2 2 0 0 0 2.218 0l6.946-4.63a1 1 0 1 0-1.11-1.664L8.5 4.798 1.555.168a1 1 0 1 0-1.11 1.664z' fill='%23e3e3e3' fill-rule='nonzero'/%3E%3C/svg%3E");
  border: none;
  background-size: 34px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  animation: 0.12s ease-in 0.16s alternate appear-from-top;
}

.card>.close_button {
  height: 38px;
  top:  -8px;
  animation: none;
  animation: 0.12s ease-in 0s alternate rotate-back;
}

.card>.close_button.rotated {
  animation: 0.12s ease-in 0s alternate rotate;
}

@keyframes rotate{
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-back{
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#form-aim .close_button {
  bottom: 215px;
}

.hidden {
  display: none;
}

#stifle {
  margin: 0 auto;
  font-size: 16px;
  line-height: 80px;
  font-weight: 400;
}

#n-stifle {
  margin: 0 auto;
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

#n-stifle .ico-span {
  height: 14px;
  width: 14px;
  background-size: 12px;
}

@media only screen and (min-width: 767px) {
  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-wrapper {
    width: 47%;
  }

  .card-wrapper .card {
    width: 100%;
  }

  .card.aim-container {
    width: 100%;
  }
  
  .card.form {
    margin: 200px auto;
  }

  ul.card-list {
    width: 90%;
  }

  .close_button {
    left: 50%;
    top: 180px;
  }

}